@import "./header.css";
@import "./button.css";

footer div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
footer table{
    margin: 50px;
}

body
{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#inputsHEX
{
    display: none;
}
#HEXSheet
{
    display: none;
}